
<div id='bzchart'>
</div>

<script type='text/javascript'>

  var chart = new BZChart('bzchart');

  for (var i = 0;i<10;i++) {
      chart.update('random' + i, ['line', 'bar', 'area'].sample(1), '/charts/bzcharts:random.json')
  }
  //  chart.update('users', ['line', 'bar', 'area', 'pie'].sample(1), '/charts/bzcharts:users.json');

</script>


