<!DOCTYPE html>
<html>
<head>
  <title>Bzcharts</title>
  <%= stylesheet_link_tag    "bzcharts", :media => "all" %>
  <%= javascript_include_tag "bzcharts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
