/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbrewer
 *= require_self
 */

.bzchart {

  .chart-frame {

    .chart-content {

      .chart-grid {

        .grid {
          text { display: none; };
          .domain {
            fill: none;
            stroke: rgb(150,150,150);
            stroke-width: 1;
            shape-rendering:crispEdges;

            display: none;
          }
          .major {
            line {
              stroke: rgb(199,199,199);
              stroke-width: 1;
              shape-rendering:crispEdges;
            }
          }
          .minor {
            stroke: rgb(230,230,230);
            stroke-width: 1;
            shape-rendering:crispEdges;
          }
        }
      }

      .chart-data {

        .bars {
          .bargroup {
            .data-bar {
              fill: rgb(158,154,200);
              stroke: none;
              opacity: 0.9;
            }
          }
        }
        .areas {
          .data-area {
            fill: rgb(254,224,210);
            stroke: darken(rgb(254,224,210), 10%);
            stroke-width: 1;
            opacity: 0.8;
          }

        }
        .lines {
          .data-line {
            fill: none;
            stroke: rgb(53,151,143);
            stroke-width: 2;
            opacity: 0.9;
          }
        }
        .pies {
          .datarcs {
            opacity: 0.85;

            .sections {
              .data-arc {
                fill: rgb(179,205,227);
                stroke: rgb(255,255,255);
                stroke-width: 2;
              }
            }
            .labels {
              .arc-label {
                fill: rgb(55,126,184);
                font-size: 20px;
              }
            }
          }
        }
      }

      .chart-axes {
        .axis {
          text {
            fill: rgb(82,82,82);
          }
          .domain {
            fill: none;
            stroke: rgb(150,150,150);
            stroke-width: 1;
            shape-rendering:crispEdges;
          }
        }

      }
    }
  }
}
